<ion-tabs>
  <div class="phone">
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="Home">
        <ion-icon name="compass"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Sections" >
        <ion-icon name="reader"></ion-icon>
        <ion-label>Content</ion-label>
      </ion-tab-button>
<!-- class="phoneTab" -->
      <ion-tab-button tab="ActionTracker" >
        <ion-icon name="leaf"></ion-icon>
        <ion-label>Action Tracker</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>



</ion-tabs>