<ion-header>
    <ion-toolbar>
        <span disable="true" class="hidden-lg-down" slot="start">
            <ion-icon src="../assets/icon/cyclops_temp.svg" id="cIcon"> </ion-icon>
        </span>
        <ion-title style="font-size: 95%;">
            <p style="text-align: left;">
                Cyclops
            </p>
        </ion-title>
        <ion-button class="phone" *ngIf="!authService.isLogin()" slot="end" routerLink="/login" color="light">
            <!--<ion-icon name="log-in-outline" color="primary"></ion-icon>-->
            <ion-text color="primary">
                <p style="font-size: 65%;">Login</p>
            </ion-text>
        </ion-button>
        <ion-button class="phone" *ngIf="!authService.isLogin()" slot="end" routerLink="/registration" color="primary">
            <!--ion-icon name="sign-up-outline" color="light"></ion-icon>-->
            <p style="font-size: 65%;">Sign up</p>
        </ion-button>


    </ion-toolbar>
</ion-header>

<div class="phone">
    <div *ngIf="authService.isLogin()">
        <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button color="light">
                <ion-icon name="person-circle-outline"></ion-icon>
            </ion-fab-button>

            <ion-fab-list side="bottom">
                <ion-fab-button>
                    <ion-icon name="person-circle-outline" routerLink="/user-profile"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                    <ion-icon name="remove-circle-outline" (click)="this.authService.SignOut()"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>
    </div>
</div>




<ion-content class="ion-padding">
    <div class="ionMaxContent">
        <div class="mobile-display">
            <!-- first section begin -->
        </div>

        <ng-container *ngIf="authService.isLogin()">
            <h1>For you</h1>
            <ion-row>
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngIf="readProgressImg==undefined">
                    <ion-card>
                        <ion-progress-bar type="indeterminate"></ion-progress-bar>
                    </ion-card>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngIf="readProgressImg!=undefined" (click)="forYouRoute()">
                    <ion-card [routerLink]="['/tabs/SelectedArticle/' , latestRead]" color='light' style="height:100%">
                        <img [src]="readProgressImg" style="width: 690px; height:200px; object-fit: cover" />
                        <ion-card-header>
                            <ion-card-subtitle [innerHTML]="readProgressHeader"></ion-card-subtitle>
                            <ion-card-title [innerHTML]="readProgressTitle"></ion-card-title>
                        </ion-card-header>
                        <ion-card-content [innerHTML]="readProgressIntro">
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4">
                    <!-- <ion-card routerLink="/tabs/page-space-su" color='light' style="height:100%;padding-top: 15%;">
                    <ion-card-header>
                        <ion-card-subtitle style="text-align:center;">Your ECO progress</ion-card-subtitle>
                        <ion-card-subtitle style="text-align:center; font-size:300%;">Overall Score
                        </ion-card-subtitle>
                        <ion-card-title style="text-align:center; font-size:550%" fontsize>80%</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-progress-bar color="primary" value="0.8"></ion-progress-bar>
                    </ion-card-content>
                </ion-card> -->
                    <ion-card *ngIf="userEcoScore ==  undefined || solutionTotalScore == undefined">
                        <ion-progress-bar type="indeterminate"></ion-progress-bar>
                    </ion-card>
                    <ion-card class="center" routerLink="/tabs/ActionTracker" color='light' *ngIf="userEcoScore !=  undefined && solutionTotalScore != undefined">
                        <ion-card-header>
                            <ion-card-subtitle style="text-align:center; font-size:200%;">Overall Score
                            </ion-card-subtitle>
                            <ion-card-title fontsize>
                                <div class="odisplay">
                                    <div class="odisplay1" *ngIf="this.authService.isLogin() && solutionTotalScore == 0">
                                        <h4 style="text-align:center; font-size:300%" fontsize>{{userEcoScore}}</h4>
                                        <div class="odisplay2">
                                            <ion-icon name="star"></ion-icon>
                                        </div>
                                    </div>
                                    <div class="odisplay1" *ngIf="this.authService.isLogin() && solutionTotalScore != 0">
                                        <h4 style="text-align:center; font-size:300%" fontsize>{{userEcoScore}} / {{solutionTotalScore}}</h4>
                                        <div class="odisplay2">
                                            <ion-icon name="star"></ion-icon>
                                        </div>
                                    </div>
                                    <div class="odisplay1" *ngIf="!this.authService.isLogin()">
                                        <ion-text style="text-align:center; font-size:150%; font-weight: 700;">
                                            Please Login to Continue

                                            <ion-text style="text-align:center; font-size:150%; font-weight: 700;" button routerLink="/login" color="primary">Login</ion-text>

                                        </ion-text>
                                    </div>
                                </div>
                            </ion-card-title>
                        </ion-card-header>
                    </ion-card>

                </ion-col>
            </ion-row>

        </ng-container>




<!--
        <h1>Newest Survey</h1>
        <ng-container *ngIf="!survey">
            <ion-card>
                <ion-progress-bar type="indeterminate"></ion-progress-bar>
            </ion-card>
        </ng-container>

        <ng-container *ngIf="survey">
            <ion-slides [options]="slideOptsOne" class="web-display">
                <ion-slide class="surveyCard-web">
                    <ion-grid>
                        <ion-row>
                            <ion-col size-sm="4" size-md="3" size-lg="2" *ngFor="let data of survey">
                                <ion-card id="card1" color='light'>
                                    <ion-card-header>
                                        <a href="{{data.surveyLink}}" color="dark">

                                            <-- target="_blank" rel="noopener noreferrer" --!>
                                            <-- The rel attribute sets the relationship between your page and the linked URL. 
                                            Setting it to noopener noreferrer is to prevent a type of phishing known as tabnabbing. --!>
                                            <ion-card-title>{{data.surveyTitle}}</ion-card-title>
                                        </a>
                                    </ion-card-header>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
            </ion-slides>


            <ion-slides [options]="slideOptsOne" class="mobile-display">
                <ion-slide class="surveyCard-mobile" *ngFor="let data of survey">
                    <ion-card color='light'>
                        <ion-card-header>
                            <a href="{{data.surveyLink}}" color="dark">
                                <--  target="_blank" rel="noopener noreferrer"  --!>
                                <ion-card-title>{{data.surveyTitle}}</ion-card-title>
                            </a>
                        </ion-card-header>
                    </ion-card>
                </ion-slide>
            </ion-slides>

        </ng-container>
-->



        <!-- seconed section end (content) -->

        <!-- third section begin (title) -->


        <!-- third section end (content) -->
        <!-- [options]="slideOptsOne" -->
        <!-- fourth section begin (title) only when user not logged in -->
        <ng-container *ngIf="!authService.isLogin()">
            <h1>Start Reading</h1>
            <!-- fourth section end (title) -->

            <!-- third section begin (content) -->
            <div *ngIf="articles" class="mobile-display">
                <ion-slides pager="true" id="newsetArticle">
                    <ion-slide *ngFor="let content of articles | slice:0:1 ">
                        <ion-card class="article-card" color='light' routerLink="/tabs/SelectedArticle/{{content.docId}}">
                            <img src="{{content.image}}" style="width: 690px; height:200px; object-fit: cover" />
                            <ion-card-header>
                                <ion-card-subtitle>{{content.subtitle}}</ion-card-subtitle>
                                <ion-card-title>{{content.title}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                {{content.cardIntroduction}}
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </div>
            <div *ngIf="articles" class="web-display">
                <ion-slides pager="true" id="newsetArticle">
                    <ion-slide>
                        <ion-grid>
                            <ion-row>
                                <ion-col *ngFor="let content of articles | slice:0:1 ">
                                    <ion-card class="article-card" color='light' routerLink="/tabs/SelectedArticle/{{content.docId}}">
                                        <img src="{{content.image}}" />
                                        <ion-card-header>
                                            <ion-card-title>{{content.title}}</ion-card-title>
                                        </ion-card-header>
                                        <ion-card-content>
                                            {{content.cardIntroduction}}
                                        </ion-card-content>
                                    </ion-card>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-slide>
                </ion-slides>
            </div>
            <div *ngIf="!articles">
                <!-- <ion-spinner></ion-spinner> -->
                <ion-card>
                    <!-- <ion-spinner></ion-spinner> -->

                    <ion-progress-bar type="indeterminate"></ion-progress-bar>
                    <!-- <ion-skeleton-text animated></ion-skeleton-text> -->

                </ion-card>
            </div>
        </ng-container>
    </div>
    <!-- third section end (content) -->

</ion-content>